{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SpaceX Dashboard</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    <nav>
        <h2>SpaceX Dashboard</h2>
        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
        <a href="{% url 'launch' %}" class="{% if request.resolver_match.url_name == 'launch' %}active{% endif %}">Launches</a>
        <a href="{% url 'crew' %}" class="{% if request.resolver_match.url_name == 'crew' %}active{% endif %}">Crew</a>
        <a href="{% url 'payload' %}" class="{% if request.resolver_match.url_name == 'payload' %}active{% endif %}">Payloads</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>